<query-editor-row query-ctrl="ctrl" class="generic-datasource-query-row" has-text-edit-mode="true">

  <div class="gf-form-inline">
    <div class="gf-form gf-form--grow">
      <code-editor content="ctrl.target.target.rawSql" on-change="ctrl.debugRefresh()" data-mode="sql">
      </code-editor>
    </div>
  </div>

  <div class="gf-form-inline">
    <div class="gf-form">
      <label class="gf-form-label query-keyword">Format as</label>
      <select class="gf-form-input" ng-model="ctrl.target.type" ng-options="f as f for f in ['table', 'timeserie']"></select>
    </div>
    <div class="gf-form">
      <span class="gf-form-label query-keyword">Target</span>
      <input type="text" class="gf-form-input" ng-model='ctrl.target.target.target' placeholder="target"></input>
    </div>
  </div>
  <div class="gf-form" ng-show="ctrl.lastQueryError">
    <pre class="gf-form-pre alert alert-error">{{ctrl.lastQueryError}}</pre>
  </div>
</query-editor-row>